footer{ 
    background-color: rgb(145, 163, 197);
    box-shadow: 0 0rem 2rem rgb(21, 21, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
   
}

 footer .footer-div{
    text-align: center;
    
}

footer .footer-div h2{
   
    font-size: 1.6rem;
    text-align: center;
    
}
footer .div-footer a{
    padding: 2rem;

     
}
footer .coprygt{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
