#contacts{
    display: flex;
    align-items: baseline;
    padding: 5rem;
    height: 60px;
    
    
    

}
.footer-div{

    background-color: rgb(145, 163, 197);
    box-shadow: 0 0rem 2rem rgb(21, 21, 22);

    text-align: center;
    padding: 6rem 2rem 1rem;
    
    

}
.div-footer a{
    padding: 2rem;
     
}
.coprygt{
    padding-top: 2rem;

    padding-bottom: 1rem;

