header{

    
    
}
#hello{
    border-bottom: 1px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right,  rgb(235, 229, 230),rgb(28, 28, 48) );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}
.div-header{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:initial;
    gap: 2rem;
    scroll-margin-top: 15rem;
    
    padding: 10rem;
    margin-bottom: 30rem;
    

    
}
header .header_left{
    width: 80%;
    display: flex;
    flex-direction: column;
    
    max-width: 40rem;
    flex: 1;
}
header .header_left p{
    color: white;
    text-align: left;
    max-width: 50rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: whitesmoke;
}



header .header_right{  
    position: relative;
    line-height: 0;
}
header .header_right img{  
    border-radius: 50%;
    padding: 0.5rem;
    background-image: linear-gradient(to right,  rgb(235, 229, 230),rgb(27, 27, 77) );
    background-clip: border;
    -webkit-background-clip: border;
    color: transparent;
    height: 300px;
}
header .header_left h1{
  
    text-align: left;
    
    
}
#more{
    background-color: rgba(96, 101, 109, 0.973); 
    color: black;
    width: 90px;
    align-content: start;
    text-align: center;
    font-size: 1.5rem;
    
    cursor: pointer;
  
}
#more:hover{
    background-color: rgb(70, 80, 95); 
    transition: .4s;   
   
}

@media(max-width:768px){
    
    .div-header{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
   }
   

   header .header_right img{  
    height: 200px;
 }
}